section.main-banner
  div.container
    .main-banner__inner
      .main-banner__txt
        h2.main-banner__title АКТИВИРУЙ: #[br] ИММУНИТЕТ!
        p.main-banner__txt1 Всего пять секунд в день помогут укрепить иммунитет #[br] и повысить защитные силы организма
        h3.main-banner__subtitle NOOTRIS ПОМОГАЕТ
        p.main-banner__txt2 Вашему организму во время пандемии #[br] и сезонных простуд
      .main-banner__img 
        img(src="img/banner_img.png") 