main.main
    div.container 
    h1.title.sale
      span.white ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА: #[br] 
      span.yellow СО СКИДКОЙ -15% ПЕРВЫМ! 
    section.product.content 
      .prices  
        span.old-price 750₽
        span.price 690₽
      div.product-content
        .product-content__secondary 
          figure 
            img(src="img/ginger.webp" alt="Ginger")
            figcaption 
              span.white Содержит: #[br]   
              span.yellow имбирь
        .product-content__primary 
          figure 
            img(src="img/nootris.webp" alt="Ginger")
            figcaption 
              h3.white + Бесплатная доставка: #[br]   
              h4.yellow Специальная цена
                .product-content__secondary 
          .product-controls 
            button.button.button-primary Оформить заказ!                
        .product-content__secondary 
            figure 
              img(src="img/vorus.webp" alt="Ginger")
              figcaption 
                span.white Нейтрализует : #[br]   
                span.yellow вирусы
        