header.header 
  nav.navbar.container 
    .logo 
      a.logo__link(href="#") 
        img.logo__img(src="/img/logo.png", alt="Logo")
    ul.main-menu
      li.main-menu__item 
        a.main-menu__link(href="") FAQ
      li.main-menu__item 
        a.main-menu__link(href="") Оплата и доставка
      li.main-menu__item 
        a.main-menu__link(href="") Возврат
      li.main-menu__item 
        a.main-menu__link(href="") Исследования
      li.main-menu__item 
        a.main-menu__link(href="") Личный кабинет
    div.navbar__controls
      address.phone 8 8 (800) 600-09-90
      a.navbar__cart(href="#")
        span.navbar__cart_count.js__cart_count 1



