extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block header
	include ../includes/header.pug
block banner
	include ../includes/banner.pug
block content
	include ../includes/content-main.pug

              
