@import "import/reset";
@import "import/fonts";
@import "import/mixin";

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 1.12rem;
  line-height: 120%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
}

.yellow {
  color: #FCB500;
}

.white {
  color: white;
}

.button-primary {
  @include button($borderRadius:7px);
  background-color: #FCB500;
  color: black;
  padding: 16px 35px;
}

.header {
  height: 80px;
  background-color: black;
  color: white;
  position: relative;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .logo  {
    margin-right: 100px;

    &__link {
      display: grid;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 60px;

    .phone {
      font-style: normal;
    } 
  }

  &__cart {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url(img/basket.webp) center/cover no-repeat;
      &_count {
        position: absolute;
        color: black;
        background: #FCB500;
        width: 16px;
        height: 16px;
        padding-top: 2px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        bottom: 0;
        right: 0;
      }
  }

}

.main-menu {
  display: flex;
  gap: 40px;

  &__link {
    &:hover {
      color: #FCB500;
    }
  }
}

.main-banner {
  background: url(img/bg.png) center/cover no-repeat;
  
  
  &__inner {
    display: flex;
    position: relative;

    
  }
  &__txt {
    width: 60%;
    padding: 86px 0 100px;
  }

  &__img {
    width: 100%;
    transform: translateX(50%);
    position: absolute;
    top: -65px;
    z-index: 1;
  }

  &__title {
    color: white;
    font-size: 9rem;
    line-height: 120%;
    font-weight: 700;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
  }

  &__txt1 {
    font-size: 1.4rem;
    margin-bottom: 120px;
    margin-top: 20px;
    line-height: 120%;
  }
  &__txt2 {
    margin-top: 16px;
    color: black;
  }
}

.main {
  background: black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  color: white;
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
}

.product {
  margin-top: 85px;
}
.product-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  &>div {
    text-align: center;
    line-height: 120%;
  }

  .product-content__secondary {
    figure {
      figcaption {
        margin-top: 75px;
      }
    }
  }

  .product-content__primary {
    figure {
      figcaption {
        margin-top: 45px;
      }
    }
    h3 {
      font-size: 2rem;
      line-height: 120%;
    }
    h4 {
      font-size: 1.5rem;
    }
  }
  .product-controls {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }  

}